<div class="groups-container">
        <div class="groups-view">
            <table style="width:90%">
                <caption>My Contacts</caption>
                <tr>
                  <td>alex@epicmail.com</td>
                  <td>Alex</td>
                  <td>Ssanya</td>
                </tr>
                <tr>
                    <td>alex@epicmail.com</td>
                    <td>Alex</td>
                    <td>Ssanya</td>
                </tr>
              </table>
        </div>
        <div class="groups-section">
          <div class="action">
              <div class="item" onclick="addContact()">
                Add Contact
              </div>
          </div>
          <div class="groups-forms">
            <div id="create-contact-container">
                <div class="form-holder">
                    <input type="text" class="form-holder-item" id="contact-fname" 
                        placeholder="First name" minlength="4" maxlength="15" required/>
                </div>
                <div class="form-holder">
                        <input type="text" class="form-holder-item" id="contact-lname" 
                            placeholder="Last name" minlength="4" maxlength="15" required/>
                </div>
                <div class="form-holder">
                        <input type="text" class="form-holder-item" id="contact-email" 
                            placeholder="Email address" minlength="4" maxlength="15" required/>
                </div>
                <div class="form-holder ">
                    <button type="button" class="form-holder-item">Add Contact</input>
               </div>
            </div>
          </div>
        </div>
      </div>