<div class="msg-container">
    <div class="msg-bar">
        <div class="back-btn"> 
            <button onclick="loadMessage('inbox')">
                    Back
            </div>
        <div class="msg-actions">
            <div class="item">
                Reply
            </div>
            <div class="item">
                Delete
            </div>
            <div class="item">
                Forward
            </div>
        </div>
    </div>
    <div class="msg-display">
        <div class="msg-title">
            <div class="subject"> How Are You Doing</div>
            <div class="sender"> <from>from</from> alexxsanya@epicmail.com</div>
            <div class="timedate"> 16-3-2019 14:35:36 </div>
        </div>
        <div class="msg-body">
            Mr,
            An optional reviver function can be provided to perform a transformation
        </div>

        <div class="msg-reply-form">
            <textarea class="reply-msg-txtarea" placeholder="reply"></textarea>
            <button type="button" class="reply-msg-btn">reply</button>
        </div>
    </div>

</div>