body{
    background-image:url('../images/bg-login.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
    font-family:Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97.7vh;
    flex-direction: column;

}
.logo{
    width: 400px;
    min-height: 80px;
    border-radius:5px;
    color:#fff;
    font-size: 2em;
    text-align: center;
    font-weight: 900;
    font-family:Roboto;
}

.box{  
    background:rgba(0, 0, 0, 0.51);
    width: 400px;
    min-height: 300px;
    border-radius:10px;
}

.login-form{
    padding:80px 80px;
}

.form-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.7vh;
    flex-direction: row;
    margin:15px 0;
}

.form-holder-label{
    flex-grow: 1;
    background-color: #3379f5;
    height: 5vh;
    text-align: center;
    line-height: 4.9vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 2px;
    font-size: 0.9rem;
    color:#fff;
}

.form-holder-item{
    flex-grow: 8;
    padding:3px 4px;
    line-height: 4vh;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-holder-action{
    text-align: right;
    width:100%;
    color:#eee;
    font-size: 0.9rem;
}

button.form-holder-item{
    margin-top:35px;
    border-radius: 5px;
    width:80%;
    border-width: 0px;
    border-style: outset;
    border-image: initial;
    font-size: 1.2rem;
    color: #ffffff;
    background: #3379f5;
    cursor: pointer;
}